# This workflow will run tests using node and then publish a package to NPM Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Continue Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Cache Dependencies
        id: cache-node-modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node-14-nodemodules-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-14-nodemodules-
      - name: Install Dependencies
        run: yarn install
      - name: Build Package
        run: NODE_ENV=production yarn build
      - name: Eslint
        run: yarn lint
        env:
          CI: true
